h1 {
	font-size: 30px;
	color: blue;
}

p {
	font-size: 20px;
	color: brown;
}

.nav-bar {
	height: 30px;
	width: 75px;
	background-color: blue;
}

body {
	background-color: black;
}

.personal-body {
	background-image: url("personal-pic.jpg");
}

.left-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 850px;
	height: 600px;
	background-color: #3a3a3a;
}

.right-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 850px;
	height: 600px;
	background-color: #7a7a7a;
}

.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;

}

.foot-bar {
	height: 30px;
	width: 75px;
	background-color: red;
}


.container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
}


header {
	margin: 0px;
	padding: 0px;

}

main {
	display: inline-block;
}

aside {
	display: inline-block;
}

.middle {
	display: flex;
	justify-content: center;
}

.pic {
	margin: 200px;
}

a {
	text-decoration: none;
}
.left-panel {
	display: none;
	flex-direction: column;
	align-items: center;
}

.right-panel {
	display: none;
	flex-direction: column;
	align-items: center;
}


.first-button {
	background-color: yellow;
}

.first {
	background-color: white;
}
.second {
	background-color: grey;
	display: none;
}